/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

body, html {
  font-family: "GT-Cinetype" !important;
}

h1, h2, h3
  border-bottom 0px solid transparent

@font-face {
  font-family: "GT-Cinetype-Mono";
  
  src: url('https://laughingkaiju.com/files/GTCinetype/GT-Cinetype-Mono.otf') 
    format("opentype");
  // src: url("/fonts/GTCinetype/GT-Cinetype-Mono.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GT-Cinetype";
  src: url('https://laughingkaiju.com/files/GTCinetype/GT-Cinetype-Regular.otf')
    format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GT-Cinetype";
  src: url('https://laughingkaiju.com/files/GTCinetype/GT-Cinetype-Regular-Italic.otf')
    format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "GT-Cinetype";
  src: url('https://laughingkaiju.com/files/GTCinetype/GT-Cinetype-Bold.otf') 
    format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "GT-Cinetype";
  src: url('https://laughingkaiju.com/files/GTCinetype/GT-Cinetype-Bold-Italic.otf')
    format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "GT-Cinetype";
  src: url('https://laughingkaiju.com/files/GTCinetype/GT-Cinetype-Light.otf') 
    format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "GT-Cinetype";
  src: url('https://laughingkaiju.com/files/GTCinetype/GT-Cinetype-Light-Italic.otf')
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

code 
  color black !important
  background-color $zone-yellow !important

.custom-block 
  border-radius 6px


/// TIP = READ OUT LOUD
.custom-block.tip
  font-family "GT-Cinetype-Mono"
  font-size: 14px;
  background-color rgba(0,0,0,0.5)
  color white
  border-color $zone-yellow

  .custom-block-title
      color: $zone-yellow !important

// Warning
.custom-block.warning
    color: $zone-yellow

  .custom-block-title
      color: $zone-yellow !important

.page img 
  border-radius 6px
  border solid 1px white
  box-shadow 0px 0px 18px white




table
  border-collapse collapse
  margin 1rem 0
  display: block
  overflow-x: auto
  text-align: left

tr
  border-top 1px solid #dfe2e5

  &:nth-child(2n)
    background-color #f6f8fa24

th, td
  border 1px solid #dfe2e5
  padding .6em 1em

th 
  background: white
  color: black